.tower {
    position: relative; /* Оболочка с относительным позиционированием, для абсолютного позиционирования других элементов */
}

/* Внешний вид */
.round {
    position: absolute; /* Позиционируем абсолютно по оболочке. В этом случае позиции можно не указывать */
    width: 70px; /* Ширина */
    height: 70px; /* Высота */
    border: 4px solid hsl(5, 40%, 70%); /* Рамка */
    border-radius: 50%/50%; /* Делаем рамку круглой */
    background: linear-gradient(top, hsl(0, 90%, 90%), hsl(0, 100%, 50%) 80%);
    background: -webkit-linear-gradient(top, hsl(0, 90%, 90%), hsl(0, 100%, 50%) 80%); /* Фоновый цвет - линейный градиент. Цвет задан в формате hsl, но можно задать в любом доступном в веб формате */
    сursor: pointer; /* Курсор в виде ладошки */
    transform: rotate(30deg); /* Поворачиваем на 30 градусов */
}

/* Эффект при нажатии */
.round:active { /* Добавляем псевдокласс :active */
    width: 69px; /* Уменьшаем ширину */
    height: 69px; /* Уменьшаем высоту */
    box-shadow: 0 0 hsl(5, 60%, 60%); /* Уменьшаем тень */
    border: 3px solid hsl(5, 40%, 70%); /* Уменьшаем толщину рамки */
    background: linear-gradient(top, hsl(0, 90%, 90%), hsl(0, 100%, 50%) 90%);
    background: -webkit-linear-gradient(top, hsl(0, 90%, 90%), hsl(0, 100%, 50%) 90%); /* Изменяем значения линейного градиента */
}
