.posterImg {
    width: 153px;
    height: 234px;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;

    position: relative;
}

.liPoster :active {
    transform: scale(0.97);
}

/*.liPoster > div > .imgDiv :hover {*/
/*    opacity: 0.4;*/
/*    transition: 0.5s;*/

/*    -ms-transform: scale(1.06); !* IE 9 *!*/
/*    -webkit-transform: scale(1.06); !* Safari 3-8 *!*/
/*    transform: scale(1.06);*/
/*    cursor: pointer;*/
/*}*/

.hiddenInfo {
    font-size: 15px;
}

.miniDescribe {
    width: 153px;
    margin-top: 4px;

    font-size: 16px;
    font-weight: bold;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.text {
    width: 153px;
    height: 234px;

    font-size: 14px;
    position: absolute;

    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;

}

.miniDescription {
    flex-grow: 1;

}

.miniDescriptionMenu {
    flex-grow: 10;
}

.vote_average {
    font-size: 25px;
    margin-right: 5px;
}

.vote_averageDiv {
    display: flex;
    flex-direction: row;
    margin-bottom: 8px;
}

.customProgressBar {
    margin-top: 5px;
}
