.tapeMovies {
    display: flex;
    flex-direction: row;
}

/*/////////arrows////////////////*/
.leftArrowDiv {
    margin-top: 25px;
    margin-left: -17px;
    margin-right: -6px;
    height: 236px;
    width: 50px;

    display: flex;
    justify-content: center;
    align-items: center;;

}

.rightArrowDiv {
    margin-top: 25px;
    margin-right: -15px;
    height: 236px;
    width: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.imgArrowRight, .imgArrowLeft {
    width: 23px;
    height: 32px;
}


.arrow {
    /*position: absolute;*/
    top: 60px;
    padding: 0;
    background: #ddd;
    border-radius: 15px;
    border: 1px solid gray;
    font-size: 24px;
    line-height: 24px;
    color: #444;
    display: block;

    opacity: 0.7;
}

.arrow:focus {
    outline: none;

}

.arrow:hover {
    cursor: pointer;
    opacity: 1;
}

.arrow:active {
    transform: scale(0.88);
    /*width: 47px;*/
    /*height: 233px;*/
    /*background-color: red;*/
}


.prev {
    outline: none; /* Для синий ободки */
    border: 0;
    background: transparent;
    height: 236px;
    width: 50px;
}

.next {
    right: 0;
    outline: none; /* Для синьої обводки */
    border: 0;
    background: transparent;
    height: 236px;
    width: 50px;
}

/*///////////////////////////////*/


/*////////////carousel////////////////*/
.carousel {
    position: relative;
    width: 1220px;
    padding-top: 10px;
    padding-bottom: 10px;

}

.gallery {
    width: 1226px;
    overflow: hidden;
    padding-left: 5px;
    position: absolute;
}

.gallery{
    
}

.gallery ul {
    height: 290px;
    width: 3697px;
    margin: 15px 0 0;
    padding: 0;
    list-style: none;
    transition: margin-left 250ms;
    font-size: 0;
}

.gallery li {
    display: inline-block;
}

.images {
    display: flex;
    justify-content: space-between;
}


/*останній елемент*/
.btnAllMovies {
    width: 153px;
    height: 234px;
    border-radius: 10px;
    outline: none; /* Для синий ободки */
    border: 0;
    background-color: #1f1b2e;
    color: #eaeaea;
    font-size: 18px;
    transition: all 0.5s ease;

    opacity: 0.6;
}

.btnAllMovies:hover {
    opacity: 1;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.05);
}

/*///////////////////////////////*/
