.tapeMovies{
    display: flex;
    flex-direction: row;
}

/*/////////arrows////////////////*/
.leftArrowDiv {
    margin-top: 118px;
    margin-left: -17px;
    height: 50px;
    width: 50px;
}

.rightArrowDiv {
    margin-top: 118px;
    margin-right: -15px;
    height: 50px;
    width: 50px;
}

.imgArrowRight, .imgArrowLeft {
    width: 23px;
    height: 32px;
}


.arrow {
    /*position: absolute;*/
    top: 60px;
    padding: 0;
    background: #ddd;
    border-radius: 15px;
    border: 1px solid gray;
    font-size: 24px;
    line-height: 24px;
    color: #444;
    display: block;
}

.arrow:focus {
    outline: none;
}

.arrow:hover {
    cursor: pointer;
}

.prev {
    /*left: 0;*/
    /*margin-top: 95px;*/
    /*margin-left: -17px;*/
    outline: none; /* Для синий ободки */
    border: 0;
    background: transparent;
    height: 50px;
    width: 50px;
}

.next {
    right: 0;
    /*margin-left: 0;*/
    outline: none; /* Для синьої обводки */
    border: 0;
    background: transparent;
    height: 50px;
    width: 50px;
}
/*///////////////////////////////*/


/*////////////carousel////////////////*/
.carousel {
    position: relative;
    width: 1217px;
    padding-top: 10px;
    padding-bottom: 10px;

}

.gallery {
    width: 1230px;
    overflow: hidden;
}

.gallery ul {
    height: 290px;
    width: 3697px;
    margin: 15px 0 0;
    padding: 0;
    list-style: none;
    transition: margin-left 250ms;
    font-size: 0;
}

.gallery li {
    display: inline-block;
}

.images {
    display: flex;
    justify-content: space-between;
}


/*останній елемент*/
.btnAllMovies {
    width: 153px;
    height: 234px;
    border-radius: 10px;
    outline: none; /* Для синий ободки */
    border: 0;
    background-color: #1f1b2e;
    color: #eaeaea;
    font-size: 18px;

    opacity: 0.6;
}

.btnAllMovies:hover {
    opacity: 1;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.05);
    transition: all 0.5s ease;
}

/*///////////////////////////////*/
