body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::-webkit-scrollbar {
    background-color: grey;
}

::-webkit-scrollbar-track {
    background-color: #100e19;
}

::-webkit-scrollbar-thumb {
    background-color: #8d8b8b;
}

/*для конченого фаєрфоксу*/
.scroller {
    overflow-y: scroll;
    scrollbar-color: #8d8b8b #100e19;
    scrollbar-width: auto;

}
